body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-weight: 48px extra-bold #f9faf8;
}

.top-links {
  display: flex;
  flex-direction: row;
}

li {
  padding: 12px;
  text-decoration: none;
  list-style-type: none;
}
  
.core {
    display: flex;
  }