* {font-family: Inter, "American Typewriter", Georgia, 'Times New Roman', Times, serif;

}

head, body{
    margin-left: 30px;
}


.sub-heading {
    color: darkgreen;
    margin-top: 20px;
}

.greenback {
    background-color: rgb(224, 238, 224);
}

.tight-top{
    width: auto;
    margin-top: -20px;
    padding: 0px;
}